{% extends 'base.html' %}

<!-- page title -->
{% block head %}Guides{% endblock %}

{% block body %}
<h2>Beginner Method</h2>
<p>The simplest way to solve a 3x3 cube is following these steps:</p>
<ol id="guide_list">
    <li>Make a cross on one side.</li>
    <li>Solve the corners of that same side.</li>
    <li>Solve the edges of the middle layer.</li>
    <li>Make a cross on the top layer.</li>
    <li>Match the top layer edges.</li>
    <li>Solve the corners of the top layer.</li>
</ol>
<p>
    This is easier said than done!
    To help with these steps, use
    <a href="https://medium.com/@venkatesh20pillay/how-to-solve-a-3x3-rubiks-cube-beginners-method-6ae65d8b721">this</a>
    online resource.
</p>

<!--
Add actual step breakdown for beginner and more advanced methods later
Example:

<h2>Fridrich Method</h2>
<ol id="guide_list">
    <li>Step 1</li>
    <li>Step 2</li>
    <li>Step 3</li>
    <li>Step ...</li>
</ol>
-->

{% endblock %}