{% extends 'base.html' %}

<!-- page title -->
{% block head %}Home{% endblock %}

{% block body %}
    <h2>Welcome to the start of your puzzle solving career!</h2>

    <p>
        The Rubik's Cube brought twisty puzzles to life in the 1980s,
        and there have been variations created and released for puzzle lovers to
        enjoy since.
    </p>

    <h3>Our Mission</h3>

    <p>
        This website was created to help puzzle lovers find solving guides
        and new puzzles to challenge themselves. Whether you are looking to learn
        how to solve a Rubik's cube for the first time or dipping your toes into
        the world of speed solving, we hope to provide the proper resources to
        further your progress.
    </p>

    <h3>My Journey</h3>

    <p>
        I first learned to solve a Rubik's cube in my eighth grade science class
        thanks to the help of my teacher. I was beyond fascinated with memorizing patterns
        and algorithms (sequence of moves) and continued to learn more about solving as I continued
        to high school. Thanks to the help of online forums and YouTube videos (much less content
        in 2010), I learned more advanced methods and started collecting different puzzles of various
        shapes and sizes.
    </p>
{% endblock %}