{% extends 'base.html' %}

<!-- page title -->
{% block head %}Register{% endblock %}

{% block body %}
<h2>User Registration</h2>
<form method="POST">
    <label for="username">Username</label>
    <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
    />
    <label for="password1">Password</label>
    <input
        type="password"
        id="password1"
        name="password1"
        placeholder="Password"
    />
    <label for="password2">Password (Confirm)</label>
    <input
        type="password"
        id="password2"
        name="password2"
        placeholder="Confirm Password"
    />
    <br/>
    <button type="submit">Submit</button>

</form>
{% endblock %}